{% extends "base.html" %}
{% block content %}
<section id="content" class="body">
<h1>Archives for {{ SITENAME }}</h1>

<dl>
  {% set current_year = 0 %}
  {% set in_list = False %}

  {% for article in dates|reverse %}

    {% if not article.project %}

      {% if article.date.year != current_year %}

        {% if in_list %}
          </ul>
        {% endif %}

        <h2>{{ article.date.year }}</h2>
        {% set current_year = article.date.year %}
        {% set in_list = True %}
        <ul>

      {% endif %}

      <li>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"title="Permalink to {{ article.title}}">{{ article.title }}</a>
      </li>

    {% endif %}

  {% endfor %}
</dl>
</section>
{% endblock %}
