<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/site.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/highlight.css" type="text/css" />


        <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />

        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <script src="{{ SITEURL }}/theme/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ SITEURL }}/theme/highlight.js" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript" charset="utf-8">
                hljs.initHighlightingOnLoad();
        </script>
</head>




<body>

<div id="sidebar">
        <!-- <h2>{{ SITENAME }}</h2> -->

        <img alt="iA" src="http://kennethreitz.com/kr.gif" class="firstChild lastChild" style="margin-top: 10px">

        <ul style="margin: 10px 18px;">
          <li>
            <a href="/about">Colophon</a>
          </li>
          <li>
            <a href="/projects">Projects</a>
          </li>
          <li>
            <a href="/articles">Articles</a>
          </li>
        </ul>

</div>

<div id="container">
        {% block content %}
        {% endblock %}
</div>







<script type="text/javascript" charset="utf-8">
  jQuery(function($){
    function underscore(str) {
      return str.replace(/::/g, '/')
                .replace(/([A-Z]+)([A-Z][a-z])/g, '$1_$2')
                .replace(/([a-z\d])([A-Z])/g, '$1_$2')
                .replace(/-/g, '_')
                .toLowerCase();
    }

    function dasherize(str) {
      return underscore(str).replace(/_/g, '-');
    }

    $("h1").each(function(){
      var name = $(this).text();
      $(this).attr("id", "h-" + dasherize(name));
    });

    $("h2").each(function(){
      var name = $(this).text();
      $(this).attr("id", "s-" + dasherize(name));
    });
  });

  jQuery(function(){

    $("pre").wrapInner('<code>')
  });
</script>



</body>
</html>
