<p>
  My name is Kenneth Reitz. I'm a minimalist that loves APIs, web services, elegant design, and Python.
</p>
<p>
  I'm the product owner of Python at <a href="http://www.heroku.com">Heroku</a> and a member of the <a href="http://www.python.org/psf/">Python Software Foundation</a>. I spend a large portion of my time writing code and prose while traveling to <a href="http://kennethreitz.com/pages/talks.html">speak</a> at <a href="http://kennethreitz.com/pages/events.html">conferences</a>.
</p>

<p>
  I'm most well known for my <a href="http://kennethreitz.com/pages/open-projects.html">open source software</a>, specifically <a href="http://python-requests.org">Requests</a:, Python HTTP for Humans.
</p>

<p>
   I'm also passionate about <a href="http://www.flickriver.com/photos/kennethreitz/popular-interesting/">digital photography</a> and <a href="http://tracks.refact0r.org/">music production</a>.
</p>

<h2>Featured Articles</h2>


  {% set current_year = 0 %}
  {% set in_list = False %}

  {% for article in dates|reverse %}

    {% if article.featured %}

      {% if article.date.year != current_year %}

        {% if in_list %}
          </ul>
        {% endif %}

        <h3>{{ article.date.year }}</h3>
        {% set current_year = article.date.year %}
        {% set in_list = True %}
        <ul>

      {% endif %}

      <li>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
      </li>

    {% endif %}

  {% endfor %}


<h3>Backlog</h3>

Check out the <a href="/archives.html">article archive</a> for blog posts going back to 2008.