<h1>Hi, there.</h1>

<p>
  <strong>
    My name is Kenneth Reitz.
  </strong>
</p>
<p>
I'm an open source software developer that loves streamlining mundane things. I see beauty in elegant architectures. I try to write the simplest APIs possible, and I do so with Python.</p>

<p>
  The US Library of Congress, Twitter, Digg, Northrop Gruman, National Geographic, and Discovery Channel use my open source software.
</p>

<p>I spend my days at <a href="">NetApp</a>, Inc writing internal enterprise tools and applications. My nights are spent passionately contributing to open source projects and hacking on what strikes my fancy. I also dabble in digital photography.</p>

<p>I occasionally cohost <a href="http://thechangelog.com">The Changelog</a> and write a weekly blog post for <a href="https://github.com/blog">The GitHub Blog</a>.</p>


<h1>Articles</h1>


  {% set current_year = 0 %}
  {% set in_list = False %}

  {% for article in dates|reverse %}

    {% if article.featured %}

      {% if article.date.year != current_year %}

        {% if in_list %}
          </ul>
        {% endif %}

        <h2>{{ article.date.year }}</h2>
        {% set current_year = article.date.year %}
        {% set in_list = True %}
        <ul>

      {% endif %}

      <li>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"title="Permalink to {{ article.title}}">{{ article.title }}</a>
      </li>

    {% endif %}

  {% endfor %}


<h3>Backlog</h3>

Check out the <a href="/archives.html">article archive</a> for blog posts going back to 2008.