<p>
  My name is Kenneth Reitz. I work for Heroku.
</p>
<p>
  I'm an open source software architect that loves to streamline mundane things. I see beauty in elegant architectures. I strive to write the simplest APIs possible, and I do so with Python.
</p>

<p>
  I'm the author of <a href="http://python-requests.org">Requests</a>, Python HTTP for Humans.
</p>

<p>My days are spent on the technical design of Heroku's Python Stack. My nights are spent passionately contributing to open source projects and the Python community.</p>

<p>
   I also enjoy <a href="http://www.flickriver.com/photos/kennethreitz/popular-interesting/">digital photography</a> and <a href="http://tracks.refact0r.org/">synths</a>.
</p>

<h2>Featured Articles</h2>


  {% set current_year = 0 %}
  {% set in_list = False %}

  {% for article in dates|reverse %}

    {% if article.featured %}

      {% if article.date.year != current_year %}

        {% if in_list %}
          </ul>
        {% endif %}

        <h3>{{ article.date.year }}</h3>
        {% set current_year = article.date.year %}
        {% set in_list = True %}
        <ul>

      {% endif %}

      <li>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
      </li>

    {% endif %}

  {% endfor %}


<h3>Backlog</h3>

Check out the <a href="/archives.html">article archive</a> for blog posts going back to 2008.